In [1]:
import pandas as pd
import plotly.express as px

dataset = pd.read_csv("sales_data_2017_2018.csv")

In [2]:
dataset.head()

,receipt_id,date,item_code,item_name,main_category,sub_category,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,total_buying_price,total_selling_price,total_profit
0,c5341571-9ead-49bf-ae6d-3a7ddfbd0e31,7/19/2018 8:40:13 AM,2025,Kiwi fruit Green,Fresh Produce,Other Fruits,0.546,cash,0.0,5.5,5.5,0.0,3.003,3.003
1,f6d66747-85e2-4b43-99c3-3fc324ea02f7,6/15/2018 4:01:07 PM,2025,Kiwi fruit Green,Fresh Produce,Other Fruits,0.546,cash,0.0,5.5,5.5,0.0,3.003,3.003
2,5757fe87-17b3-44ff-ae49-7548cd156998,9/18/2018 9:01:37 AM,2025,Kiwi fruit Green,Fresh Produce,Other Fruits,0.548,cash,0.0,5.5,5.5,0.0,3.014,3.014
3,ccfec4ae-e68f-4f7f-a15d-486b98acbd09,8/14/2018 12:36:46 PM,2025,Kiwi fruit Green,Fresh Produce,Other Fruits,0.548,cash,0.0,5.5,5.5,0.0,3.014,3.014
4,9a45dc36-f771-42a7-a343-fac1a8e58bb7,6/19/2018 5:03:58 PM,2025,Kiwi fruit Green,Fresh Produce,Other Fruits,0.550,cash,0.0,5.5,5.5,0.0,3.025,3.025

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372757 entries, 0 to 372756
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   receipt_id           372757 non-null  object
 1   date                 372757 non-null  object
 2   item_code            372757 non-null  int64
 3   item_name            372757 non-null  object
 4   main_category        372757 non-null  object
 5   sub_category         372757 non-null  object
 6   quantity             372757 non-null  float64
 7   payment_type         372757 non-null  object
 8   unit_buying_price    286348 non-null  float64
 9   unit_selling_price   372757 non-null  float64
 10  unit_price_margin    372757 non-null  float64
 11  total_buying_price   286348 non-null  float64
 12  total_selling_price  372757 non-null  float64
 13  total_profit         372757 non-null  float64
dtypes: float64(7), int64(1), object(6)
memory usage: 39.8+ MB

In [4]:
# Convert the "date" column cells, to be type "datetime"
# so that we can then parse out the dates

dataset["date"] = pd.to_datetime(dataset["date"])

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372757 entries, 0 to 372756
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   receipt_id           372757 non-null  object
 1   date                 372757 non-null  datetime64[ns]
 2   item_code            372757 non-null  int64
 3   item_name            372757 non-null  object
 4   main_category        372757 non-null  object
 5   sub_category         372757 non-null  object
 6   quantity             372757 non-null  float64
 7   payment_type         372757 non-null  object
 8   unit_buying_price    286348 non-null  float64
 9   unit_selling_price   372757 non-null  float64
 10  unit_price_margin    372757 non-null  float64
 11  total_buying_price   286348 non-null  float64
 12  total_selling_price  372757 non-null  float64
 13  total_profit         372757 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 39.8+ MB

In [6]:
# The date still *looks* like one string
# But now its datetime object
# which allows to parse it out into YY, MM, or DD
dataset.head()

,receipt_id,date,item_code,item_name,main_category,sub_category,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,total_buying_price,total_selling_price,total_profit
0,c5341571-9ead-49bf-ae6d-3a7ddfbd0e31,2018-07-19 08:40:13,2025,Kiwi fruit Green,Fresh Produce,Other Fruits,0.546,cash,0.0,5.5,5.5,0.0,3.003,3.003
1,f6d66747-85e2-4b43-99c3-3fc324ea02f7,2018-06-15 16:01:07,2025,Kiwi fruit Green,Fresh Produce,Other Fruits,0.546,cash,0.0,5.5,5.5,0.0,3.003,3.003
2,5757fe87-17b3-44ff-ae49-7548cd156998,2018-09-18 09:01:37,2025,Kiwi fruit Green,Fresh Produce,Other Fruits,0.548,cash,0.0,5.5,5.5,0.0,3.014,3.014
3,ccfec4ae-e68f-4f7f-a15d-486b98acbd09,2018-08-14 12:36:46,2025,Kiwi fruit Green,Fresh Produce,Other Fruits,0.548,cash,0.0,5.5,5.5,0.0,3.014,3.014
4,9a45dc36-f771-42a7-a343-fac1a8e58bb7,2018-06-19 17:03:58,2025,Kiwi fruit Green,Fresh Produce,Other Fruits,0.550,cash,0.0,5.5,5.5,0.0,3.025,3.025

In [7]:
# Here we add new column by doing "dataset['year'] = "
# remember, if your do dataset["name"], if "name" isn't an existing column, 
# a new column called "name" gets created

dataset["year"] = dataset["date"].dt.year

dataset.head()

,receipt_id,date,item_code,item_name,main_category,sub_category,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,total_buying_price,total_selling_price,total_profit,year
0,c5341571-9ead-49bf-ae6d-3a7ddfbd0e31,2018-07-19 08:40:13,2025,Kiwi fruit Green,Fresh Produce,Other Fruits,0.546,cash,0.0,5.5,5.5,0.0,3.003,3.003,2018
1,f6d66747-85e2-4b43-99c3-3fc324ea02f7,2018-06-15 16:01:07,2025,Kiwi fruit Green,Fresh Produce,Other Fruits,0.546,cash,0.0,5.5,5.5,0.0,3.003,3.003,2018
2,5757fe87-17b3-44ff-ae49-7548cd156998,2018-09-18 09:01:37,2025,Kiwi fruit Green,Fresh Produce,Other Fruits,0.548,cash,0.0,5.5,5.5,0.0,3.014,3.014,2018
3,ccfec4ae-e68f-4f7f-a15d-486b98acbd09,2018-08-14 12:36:46,2025,Kiwi fruit Green,Fresh Produce,Other Fruits,0.548,cash,0.0,5.5,5.5,0.0,3.014,3.014,2018
4,9a45dc36-f771-42a7-a343-fac1a8e58bb7,2018-06-19 17:03:58,2025,Kiwi fruit Green,Fresh Produce,Other Fruits,0.550,cash,0.0,5.5,5.5,0.0,3.025,3.025,2018

In [8]:
# Time for Visualization

In [9]:
# Retrieving the rows or items that were sold in 2017, but discontinued from selling in 2018

item_profit = dataset.groupby(["item_name", "year"])[["total_profit"]].sum().reset_index()

item_profit.tail()

                       item_name  year  total_profit
1935  wijaya kurakkan Flour 400g  2017         9.810
1936  wijaya kurakkan Flour 400g  2018        10.900
1937                 wombok half  2017       273.500
1938                 wombok half  2018        19.500
1939                    ya pears  2018        40.698

In [10]:
unique_names = item_profit.drop_duplicates(subset=["item_name"], keep = False)

unique_names.head()

              item_name  year  total_profit
0   1Lt Coconut Oil Ver  2018     140.00000
1       1Lt Coconut oil  2017    1097.60000
2        1kg olive pack  2017      27.35488
11    Adelaide Tomatoes  2017      24.20970
38   Ambulthiyal Mix LA  2018       2.67000

In [99]:
unique_names.head()

              item_name  year  total_profit
0   1Lt Coconut Oil Ver  2018     140.00000
1       1Lt Coconut oil  2017    1097.60000
2        1kg olive pack  2017      27.35488
11    Adelaide Tomatoes  2017      24.20970
38   Ambulthiyal Mix LA  2018       2.67000

In [60]:
# Rounding total profit columns to get rid of all decimals
# to make bar graph labels more aesthetic 

discontinued_2017 = unique_names.query("year == 2017")

discontinued_2017 = discontinued_2017.round({"total_profit": 0})

discontinued_2017_acsd = discontinued_2017.sort_values(by='total_profit', ascending=False)

discontinued_2017_most_profit = discontinued_2017_acsd.head(20)

In [78]:
discontinued_2017_bar = px.bar(discontinued_2017_most_profit, y = "item_name", x = "total_profit",
                               title = "Profit for Discontinued Items Sold in 2017 (Top 20)",
                               color = "total_profit",
                               text = "total_profit",
                               labels = {"total_profit": "Total Profit",
                                         "item_name": "Item Name"
                                        }
                              )



# Styling Bar Graph

discontinued_2017_bar.update_layout(font_family = "Rockwell")
discontinued_2017_bar.update_xaxes(tickprefix = "$")


discontinued_2017_bar.show()

In [17]:
pd.unique(dataset["main_category"])

array(['Fresh Produce', 'Beverages', 'Pantry Staples', 'Flowers',
       'Snacks', 'Breads & Bakery', 'Dairy, Cheese, and Eggs', 'Beverage',
       'Bag', 'Miscellaneous'], dtype=object)

In [95]:
banana_receipts = dataset[dataset.item_name == "Banana Cavendish"]


banana_receipts.head()

,receipt_id,date,item_code,item_name,main_category,sub_category,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,total_buying_price,total_selling_price,total_profit,year
13658,2e42fb12-79b5-43c7-890f-c79e39006129,2018-08-03 18:02:01,2010,Banana Cavendish,Fresh Produce,Bananas,0.086,cash,2.0,1.99,-0.01,0.172,0.17114,-0.00086,2018
13659,96c8e9de-1ddc-42d2-9137-05b592a4b612,2018-11-21 10:06:34,2010,Banana Cavendish,Fresh Produce,Bananas,0.106,cash,2.0,1.99,-0.01,0.212,0.21094,-0.00106,2018
13660,710f3e94-2818-42d1-b718-e65b4fe3355d,2018-07-16 14:28:49,2010,Banana Cavendish,Fresh Produce,Bananas,0.108,cash,2.0,1.99,-0.01,0.216,0.21492,-0.00108,2018
13661,527b88fc-41c1-4a3f-818e-f994ff10018b,2018-10-12 12:57:08,2010,Banana Cavendish,Fresh Produce,Bananas,0.110,cash,2.0,1.99,-0.01,0.220,0.21890,-0.00110,2018
13662,fda13b9a-a2a2-462d-8bcb-a92d86536429,2018-09-17 15:34:19,2010,Banana Cavendish,Fresh Produce,Bananas,0.110,cash,2.0,1.99,-0.01,0.220,0.21890,-0.00110,2018